/* CONFIGURAÇÃO GERAL */


/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
}

h1,
h2,
h3 {
  font-family: var(--featured-font-family); /*Chamando a variável*/
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font-family: "Libre Baskerville", serif;
}

button {
  padding: 1rem 2rem;
  background-color: transparent;
  font-weight: 900;
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 1s;
}

input,
textarea {
  border: 2px solid var(--primary-color-contrast);
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  padding: 8px;
  margin-bottom: 24px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #000;
}

label {
  margin-bottom: 8px;
}